<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title webpack4 try
    meta(name="viewport", content="width=device-width,initial-scale=1")
  body
    h1 webpack4 try